<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Departments
            <a href="/departments/add" class="btn btn-success float-right">Add New Department</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Department&nbsp;Number</th>
                    <th>Department&nbsp;Name</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each departments}}
                    <tr>
                        <th><a href="/department/{{departmentId}}">{{departmentId}}</a></th>
                        <th><a href="/employees?department={{departmentId}}">{{departmentName}}</a></th>
                        <th><a href="departments/delete/{{departmentId}}">remove</a></th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{#unless departments}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>